In [1]:
# Truncate a single table
schema_name = "shared"
table_name = "product"  # Change to your table

print(f"üî® Truncating {schema_name}.{table_name} ...")
spark.sql(f"TRUNCATE TABLE {schema_name}.{table_name}")
print(f"‚úÖ {schema_name}.{table_name} truncated!")

StatementMeta(, af679c5c-479c-43d0-bd77-9fad0d5a8f30, 4, Finished, Available, Finished)

üî® Truncating shared.product ...

‚úÖ shared.product truncated!

In [ ]:
# Truncate a group of tables
schema_name = "shared"
tables = [
    "customer",
    "customertradename",
    "customerrelationshiptype",
    "location",
    "customeraccount",
    "product",
    "productcategory"
]

for table in tables:
    print(f"üî® Truncating {schema_name}.{table} ...")
    spark.sql(f"TRUNCATE TABLE {schema_name}.{table}")
    print(f"‚úÖ {schema_name}.{table} truncated!")

print(f"\nüéâ ALL SELECTED TABLES TRUNCATED!")

In [ ]:
# Truncate a group of tables
schema_name = "sales"
tables = [
    "order",
    "orderline",
    "orderpayment"
]

for table in tables:
    print(f"üî® Truncating {schema_name}.{table} ...")
    spark.sql(f"TRUNCATE TABLE {schema_name}.{table}")
    print(f"‚úÖ {schema_name}.{table} truncated!")

In [ ]:
# Drop a single table
schema_name = "shared"
table_name = "product_test"  # Change to your table

print(f"üóëÔ∏è Dropping {schema_name}.{table_name} ...")
spark.sql(f"DROP TABLE IF EXISTS {schema_name}.{table_name}")
print(f"‚úÖ {schema_name}.{table_name} dropped!")

StatementMeta(, 41e5e94c-049d-45bb-8f15-88546c5e57df, 4, Finished, Available, Finished)

üóëÔ∏è Dropping shared.product_test ...

‚úÖ shared.product_test dropped!

In [ ]:
# Drop a group of tables
schema_name = "shared"
tables = [
    "customer",
    "customertradename",
    "customerrelationshiptype",
    "location",
    "customeraccount",
    "product",
    "productcategory"
]

for table in tables:
    print(f"üóëÔ∏è Dropping {schema_name}.{table} ...")
    spark.sql(f"DROP TABLE IF EXISTS {schema_name}.{table}")
    print(f"‚úÖ {schema_name}.{table} dropped!")

print(f"\nüéâ ALL SELECTED TABLES DROPPED!")

In [ ]:
# Drop a group of tables
schema_name = "sales"
tables = [
    "order",
    "orderline",
    "orderpayment"
]
for table in tables:
    print(f"üóëÔ∏è Dropping {schema_name}.{table} ...")
    spark.sql(f"DROP TABLE IF EXISTS {schema_name}.{table}")
    print(f"‚úÖ {schema_name}.{table} dropped!")

print(f"\nüéâ ALL SELECTED TABLES DROPPED!")